

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #111D08;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 6vw;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.uper-logo {
    width: 23vw;
    height: 5vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.brand {
    width: 170px;
    height: 6vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img {
    width: 130px;
}

nav {
    width: 80vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 4vw;
}

ul {
    width: 46vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    list-style: none;
    background: linear-gradient(120deg, #111D08 80%, #BAD903 70%);
    border-bottom-left-radius: 20px;
}

li a {
    text-decoration: none;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.uper-hero {
    width: 100%;
    height: 35vw;
    background-color: #111D08;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uper-text {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uper-contant {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uper-para {
    width: 90%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.para {
    color: white;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.t1 {
    color: black;
    background-color: #DCFF02;
    padding: 6px;
    border-radius: 10px;
}

.uper-heading {
    width: 90%;
    height: 13vw;
}

.heading {
    font-size: 6vw;
    line-height: 5.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.uper-btn {
    width: 90%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: strat;
    align-items: center;
    gap: 2vw;
}

.btn1 {
    width: 10vw;
    height: 3vw;
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    background-color: #DCFF02;
}

.btn2 {
    width: 10vw;
    height: 3vw;
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
background-color: #DCFF02;
}

.icon {
    font-size: 1.8vw;
}

.uper-image {
    width: 50%;
    height: 100%;
    /* background-color: purple; */

}

.uper-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width:55%;
    height:70%;
    background-color: rgb(229, 226, 226);
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 08px;
    position: relative;
}
.f1{
    width:230px;
    height: 200px;
    background-color:white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    bottom: 350px;
    left: 250px;
    z-index: 2;
}
.f2{
    width:230px;
    height: 200px;
    background-color:white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 370px;
    right: 500px;
    z-index: 2;
}

.uper-counter{
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 8vw;
}
.c1{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count{
    font-size: 40px;
    color: #BAD903;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.uper-about{
    width: 90%;
    height: 40vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uper-heading2{
    width: 90%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.heading2{
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 2px solid #DCFF02;
}
.uper-para1{
    width: 90%;
    height: 15vw;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.para1{
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}